




<div style="overflow: hidden">
  <div
    id="wbc-64299ac63128a"
    data-parallax-speed="0.4"
    class="row wpb_row back full-height full-width-section parallax-section bg-cover-stretch"
    data-section-height="754px"
  >
    <div class="container">
      <div class="row row-inner">
        <div class="wbc-table-align clearfix">
          <div class="clearfix flx align-middle mob_padding">
            <div class="wpb_column vc_column_container col-sm-8 hide">
              <div class="column-inner">
                <div class="wpb_wrapper">
                  <div class="wbc-heading clearfix">
                    <h3
                      class="special-heading-1 neww"
                      style="font-size: 30px; color: #ffffff"
                    >
                      The Gym
                    </h3>
                  </div>
                  <div class="wbc-heading clearfix">
                    <h2
                      class="special-heading-3 tile xs-responsive-text-35 sm-responsive-text-55"
                     
                    >
                      WORK HARD<br />
                      GET <span class="wbc-color">RESULTS</span>
                    </h2>
                  </div>
                  <div class="wbc-heading clearfix">
                    <div
                      class="default-heading neww detail"
                    >
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore magna
                      aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                      ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </div>
                  </div>
                 
                </div>
              </div>
            </div>
            <div class="wpb_column vc_column_container col-sm-4 mob_width">
              <div class="column-inner">
                <div class="wpb_wrapper">
                  <div class="col-12 auth-form-section">
                    <div class="form-section">
                      <div class="auth-wrapper">
                        <h2 class="login-title"> Reset Password </h2>
                        <p class="auth-signup-text text-muted">Let Us Help You</p>
                        <form class="validate-form" [formGroup]="authForm" (ngSubmit)="onSubmit()">
                          <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                              <span class="error-subheader2 p-t-20 p-b-15">
                                Enter your registered email address.
                              </span>
                              <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Email</mat-label>
                                <input matInput formControlName="email" required>
                                <mat-icon matSuffix>mail</mat-icon>
                                <mat-error *ngIf="authForm.get('email').hasError('required') || authForm.get('email').touched">
                                  Please enter a valid email address
                                </mat-error>
                              </mat-form-field>
                            </div>
                          </div>
                          <div class="container-auth-form-btn mt-5">
                            <button mat-flat-button color="primary" class="auth-form-btn btn_lb" [disabled]="!authForm.valid " type="submit">
                              Reset My Password
                            </button>
                          </div>
                          <div class="w-full p-t-25 text-center">
                            <div>
                              <a routerLink="/authentication/signin" class="txt1">
                                Login?
                              </a>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

